/* 테스트후 삭제 */
@import url(ub-variables.css);
.ub-style{
  background-color: #ccc;
  border: 1px solid #000;
  box-sizing: border-box;
}
/* .ub-style 연속으로 나올때 동생에게 여백 */
.ub-style + .ub-style{
  margin-top:50px;
}


/* 공통 */



/* 단배너 CSS */
/* 단배너 공통 */
.dan-section{}
.dan-section .flex > .item{
  flex:auto;
}

.dan-section .item {
  /* flex:none; */
}

/* 
단 썸네일의 크기가 달라지는 문제때문에 padding값 수정 문제 발생
*/
/* .dan-section .item:first-child{padding-left:0;}  
.dan-section .item:last-child{padding-right: 0;} */
/* html의 flex 컨테이너에게 .gap- 으로 지정하세요  */
.dan-section .flex .item[class*="col-"]{
  padding-left:0 ;
  padding-right: 0;
}

.dan-section .item .thumb {}
.dan-section .item .thumb .xans-smart-banner-admin{
  margin-bottom: 0;
}

.dan-section .item .thumb img{}
.dan-section .item .desc {}

/* .section.ub-style 스타일 */
.ub-style.section_full{
  /* 본인브랜드색상을 사용하세요 변수 사용을 권해요 var(--section-bg)  */
  background-color: var(--section-bg);
}
.ub-style .ub-style-inner{}

/* .section이 브라우저를 다 차지할 때 정렬을 위한  .ub-style-inner*/
@media (min-width:1024px){
	#contents > .section_full.ub-style .ub-style-inner {
    max-width:1420px;
    width:92%;
    margin-left:auto;
    margin-right:auto;
  }
}
/*  .ub-style  .main_title */
.ub-style  .main_title{}
.ub-style  .main_title.flex{
  align-items:end;
  justify-content: start;
}

.ub-style  .main_title.flex  .main_title_txt02{
  margin-left: 10px;
  margin-top:0;
}
.ub-style  .main_title .main_title_txt01{
  /* font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color:#000; */
}
.ub-style  .main_title .main_title_txt02{
  /* font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color:#999; */
}


/* 미디어쿼리 */

@media (max-width:1024px){
  /* .dan-section */
  .dan-section .flex{
    width:100%;
    /* 3 문제1 */
    /* 부드러운 스크롤링을 위한 전제 조건 */
    overflow-x: auto;

    /* 3 문제2*/
    /* 3 문제2 부드러운 스크롤링 css */
    scroll-behavior: smooth;
    /* 3 문제2 스크롤될 때 요소가 snap 타입  */
    scroll-snap-type: x mandatory;
  }
  .dan-section .flex .item{
    /* 1 문제1 해결 */
    flex-shrink: 0;
    /* 3 문제2 컨테이너와 아이템의 스크롤 snap 정렬 */
    scroll-snap-align: center;
  }
}


@media (max-width:768px){

}